<!DOCTYPE html>
<html>
<head>
    <title>Diet and Workouts Recommendations</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background:rgb(52, 157, 189);color:rgb(247, 249, 250)">
    <div class="container mycont mt-5" style="background:rgb(156, 214, 232);color:rgb(5, 55, 81);border-radius:15px; padding:10px;">
        <h1 class="text-center">Diet and Workouts Recommendations</h1>

        <form action="/recommend" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select class="form-control" id="gender" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="weight">Weight (kg):</label>
                        <input type="number" class="form-control" id="weight" name="weight">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="height">Height (ft.):</label>
                        <input type="number" class="form-control" id="height" name="height" step="0.01">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="veg_or_nonveg">Veg or Non-Veg:</label>
                        <select class="form-control" id="veg_or_nonveg" name="veg_or_nonveg">
                            <option value="veg">Veg</option>
                            <option value="nonveg">Non-Veg</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="disease">Generic Disease:</label>
                        <input type="text" class="form-control" id="disease" name="disease">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="region">Region:</label>
                        <input type="text" class="form-control" id="region" name="location">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="allergics">Disability(if any):</label>
                        <input type="text" class="form-control" id="allergics" name="diability_if_any">
                    </div>
                </div>
            </div>

          

            <button type="submit" class="btn btn-danger btn-lrg " style="width:50%; padding:1px; margin-left:25%; font-weight:bold">Recommend Diets & Workouts</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>